<a href="{:url('tongji/index')}" class="fluid ui   button"> <i class="options icon"></i>统计概览</a>
 <div class="ui styled fluid accordion mt10">
  <div class="title active"><i class="dropdown icon"></i>订单统计</div>
  <div class="content active">
  <div class="ui secondary vertical menu fluid">
  <a class="active item">
    所有订单 <i class="angle right icon"></i>
  </a>
  <a class="item">
    待处理订单  <i class="angle right icon"></i>
  </a>
  <a class="item">
    待付款订单  <i class="angle right icon"></i>
  </a>
  <div class="ui dropdown item">
    <i class="chevron circle right icon"></i>
    挂起订单
    <div class="menu">
      <a class="item">缺货</a>
      <a class="item">争议</a>
    </div>
  </div>
</div>
  </div>
  <div class="title"><i class="dropdown icon"></i> 产品统计 </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
    <a class="item">
      所有谷仓订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      已发送到谷仓订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      谷仓发货完成订单  <i class="angle right icon"></i>
    </a>

  </div>
  </div>
  <div class="title"><i class="dropdown icon"></i> 客户统计 </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
    <a class="item">
      所有四海邮订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      已发送到四海邮订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      四海邮发货完成订单  <i class="angle right icon"></i>
    </a>

  </div>
  </div>
  <div class="title"><i class="dropdown icon"></i> 红人统计 </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
    <a class="item">
      所有E邮宝订单 <i class="angle right icon"></i>
    </a>
    <a class="item">
      已发送到E邮宝订单 <i class="angle right icon"></i>
    </a>
    <a class="item">
      E邮宝发货完成订单  <i class="angle right icon"></i>
    </a>

  </div>
  </div>
  <div class="title"><i class="dropdown icon"></i> 其他订单统计 </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
    <a class="item">
      所有易时达订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      已发送到易时达订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      易时达发货完成订单  <i class="angle right icon"></i>
    </a>

  </div>
  </div>
   <div class="title"><i class="dropdown icon"></i> 数据导出 </div>
  <div class="content">
    <div class="ui secondary vertical menu fluid">
    <a class="item">
      导出订单  <i class="angle right icon"></i>
    </a>
    <a class="item">
      导出产品  <i class="angle right icon"></i>
    </a>
    <a class="item">
      导出客户  <i class="angle right icon"></i>
    </a>
     <a class="item">
      导出红人  <i class="angle right icon"></i>
    </a>
  </div>
  </div>
</div>

