{extend name="2columns-left" /}
{block name="sidebar"}
 {include file="order/sidebar" /}
{/block}

{block name="content"}
 {include file="order/searchbar" /}
<!-- 列表 -->
<form name="orders" class="mt15" id="orderform" action="{:url('Epack/printMuti')}" method="post">
<table class="ui celled selectable left aligned table visible fluid">
      <thead>
        <tr>
        <th>
          <div class="ui master  checkbox ">
              <input type="checkbox" name="all" >
          </div>
        </th>
        <th width="5%">订单号</th>
        <th width="8%">下单日期</th>
        <th width="7%">订单状态</th>
        <th width="7%">客户名称</th>
        <th class="center aligned" width="6%">国家</th>
        <th width="15%">订单内容</th>
        <th width="10%">客户备注</th>
        <th width="10%">订单备注</th>
        <th width="5%">运费</th>
        <th width="5%">实收金额</th>
        <th width="10%">发货状态</th>
        <th class="right aligned ">更新状态</th>
        <th class="center aligned " width="7%">操作</th>
        <th class="center aligned " width="4%">打印</th>

      </tr></thead>
      <tbody>
      {volist name="orderlist" id="order"}
        <tr {eq name="$order.orderstate" value="dispute"} class="negative" {/eq}>
          <td class="checkboxid"><div class="ui checkbox">
              <input type="checkbox"  name="id[]" class="orderid" value="{$order.id}">
              </div>
          </td>
          <td>
          {php} 
          if($order['orderstate']=='dispute'){
             echo '<span class="ui red tag label">'.$order['ordernum'].'</span>';
          }elseif($order['orderstate']=='paypal_reversed'){
            echo '<span class="ui red tag label">'.$order['ordernum'].'</span>';
          }else{

          if($order['customer_note'] !=''){
              if($order['orderstate'] =='completed' || $order['orderstate'] =='cancelled'){
                       echo '<span class="text-blue"><i class="flag icon"></i>'.$order['ordernum'].'</span>';
              }else{

               if($order['customer_note'] !=''){  echo '<span class="text-blue"><i class="flag icon"></i>'.$order['ordernum'].'</span>';}

              }

          }else{
             echo '<span class="text-blue">'.$order['ordernum'].'</span>';
          } 

          }
          {/php}
          </td>
          <td>{php} echo date("Y年m月d日", $order['ordertime']){/php} <br> {php} echo date("H:i:s", $order['ordertime']){/php}</td>
          <td>{$order.orderstate|getstatuscnname}</td>
          <td>{$order.firstname} {$order.lastname}</td>
          <td class="center aligned">
             <!-- <i class="{$order.country|uplow} flag"></i><br> -->
              {$order.country|getGjname}
          </td>
          <td>
          <ul class="conlist">
          {volist name="$order.con" id="con"}
          <li>{$con.cnname} x {$con.qty}</li>
          {/volist}
          </ul>
          </td>
          <td>{$order.customer_note}</td>
          <td>{$order.order_note}</td>
          <td>{php}if($order['shipping_fee']>0) echo '￥';{/php}{$order.shipping_fee}</td>
          <td>{gt name="$order.amount" value="0"}${$order.amount}{/gt}<br>{php} if($order['discount'] > 0) echo '优惠：$'.$order['discount'];{/php}</td>
          <td>
           <a href="{:url('Order/updateshipment?id='.$order['id'])}">{$order.shipstate|getstatuscnname}</a>
          </td>
          <td class="right aligned ">
            <div class="ui teal buttons">
            <div class="ui  floated pointing right dropdown icon button">
              <i class="dropdown icon"></i>
              <div class="menu statusbtn">
                <div class="item"><div class="ui green empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=wprocessing')}">改为等待处理</a></div>
                <div class="item"><div class="ui olive empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=processing')}">改为处理中</a></div>
                <div class="item"><div class="ui grey empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=cancelled')}">取消订单</a></div>
                <div class="item"><div class="ui orange  empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=outofstock')}">缺货订单</a></div>
                <div class="item"><div class="ui red empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=dispute')}">争议订单</a></div>
                <div class="item"><div class="ui pink empty circular label"></div><a href="{:url('Order/mark?id='.$order['id'].'&action=onhold')}">挂起订单</a></div>
                {eq name="$userdata.username" value="junwen"}
                <div class="item"><div class="ui black empty circular label"></div>
                <a href="{:url('Order/deleteOrder?id='.$order['id'])}">删除订单</a></div>
                {/eq}
              </div>
            </div>
            <div data-link="{:url('Order/updatestatus?id='.$order['id'])}" class="ui button refresh-button"><i class="refresh icon"></i></div>
            </div>
          </td>
          <td class="center aligned">
           {eq name="$order:orderstate" value="wprocessing"}
            <div class="ui blue buttons">
            <div class="ui  floated pointing right dropdown icon button">
              <i class="dropdown icon"></i>
                <div class="menu"> 
                 {eq name="$order:country" value="US"}
                  <div class="item">
                    <div class="ui blue  empty circular label"></div>
                    <i class="dropdown icon"></i>
                     <span class="text">发送到谷仓</span>
                    <div class="menu">
                       <div data-link="{:url('Gucang/sendOrder?id='.$order['id'].'&p=usea')}" class="item btn-gc"><span class="ui purple empty circular label"></span>美东仓</div>
                       <div data-link="{:url('Gucang/sendOrder?id='.$order['id'].'&p=uswe')}" class="item btn-gc"><div class="ui pink empty circular label"></div>美西仓</div>
                       <div data-link="{:url('Gucang/sendOrder?id='.$order['id'].'&p=uk')}" class="item btn-gc"><div class="ui green empty circular label"></div>英国仓</div>
                    </div>
                  </div>
                 {/eq}
                  <div data-link="{:url('Epack/sendOrder?id='.$order['id'])}" class="item btn-epack">
                    <div class="ui red empty circular label"></div>
                     发送到E邮宝
                  </div>
                  
                  <div class="item">
                     <div class="ui pink empty circular label"></div>
                     <i class="dropdown icon"></i>
                     <span class="text">其它快递</span>
                    <div class="menu">
                       <div class="item"><div class="ui purple empty circular label"></div>发送到递四方</div>
                       <div class="item"><div class="ui brown empty circular label"></div>万邑通</div>
                       <div class="item"><div class="ui grey empty circular label"></div>易时达</div>
                       <div class="item"><div class="ui pink empty circular label"></div>发送到DHL</div>
                    </div>
                  </div>
              </div>
           </div>
            <a href="{:url('Order/view?id='.$order['id'])}" class="ui button">查看</a>
            </div> 
           {else/}
           <a href="{:url('Order/view?id='.$order['id'])}" class="ui blue button">查看</a>
           {/eq}
          </td>
          <td><div data-link="{:url('Epack/printSingle?id='.$order['id'])}" class="ui icon printsingle  blue button"><i class="print icon"></i></div>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    </form>
    <div class="ui grid">
    <div class="eleven wide column">{$page}</div>
    <div class="five wide column">
  <div id="printany" class="ui mt30 ml15 right floated blue button"><i class="checkmark box icon"></i> 打印选中</div>
  <div id="printall" class="ui mt30 ml15 right floated blue button"><i class="object group icon"></i> 一键打印</div>
  <div class="ui labeled icon top blue mt30 right floated pointing dropdown button">
  <i class="setting icon"></i>
  <span class="text">批量操作</span>
  <div class="menu">
    <div class="header">
      <i class="tags icon"></i>
      批量发送
    </div>
    <div class="item">
      <div class="ui red empty circular label"></div>
      E邮宝系统
    </div>
    <div class="item">
      <div class="ui blue empty circular label"></div>
      谷仓系统
    </div>
    <div class="item">
      <div class="ui black empty circular label"></div>
      递四方系统
    </div>
    <div class="divider"></div>
    <div class="header">
      <i class="calendar icon"></i>
      批量修改
    </div>
    <div class="item">
      <i class="olive circle icon"></i>
      发送邮件
    </div>
    <div class="item">
      <i class="violet circle icon"></i>
      修改订单状态
    </div>
    <div class="item">
      <i class="orange circle icon"></i>
      添加赠品
    </div>
  </div>
</div>
    </div>
    </div>


<!-- Ajax 提示窗口-->

<div id="ajax-pop" class="ui basic modal">
<i class="close icon"></i>
  <div class="image content a-center">
    <div class="image">
      <img src="__IMG__/hourglass.gif" />
    </div>
    <h1 class="mt50">正在发送到谷仓中...</h1>
  </div>
</div>

<!-- end 提示窗口-->


<!-- Donwload 提示窗口-->

<div id="download-pop" class="ui  modal">
<i class="close icon"></i>
  <div class="image content a-center">
    
  </div>
</div>

<!-- end 提示窗口-->

{/block}

{block name="script"}
    <script>
      $(document).ready(function(){
        $('.activating.element').popup();
       
      })

      //更新订单状态

      $(".refresh-button").click(function(){
          $('#ajax-pop h1').text("正在更新中...");
          $('#ajax-pop').modal('setting', 'closable', false).modal('show');
          var url = $(this).data('link');
          // window.location.href = url;
         
          $.get(url, function(data){
             if(data.status == 1){
                $('#ajax-pop h1').text(data.msg); refresh(5000);
              }else{
                $('#ajax-pop h1').text(data.msg); refresh(3000);
              }
          });
         

      });


      //发送到E邮宝

      $(".btn-epack").click(function(){
          $('#ajax-pop h1').text("正在发送到E邮宝中...");
          $('#ajax-pop').modal('setting', 'closable', false).modal('show');
          var url = $(this).data('link');
          //window.location.href = url;
          $.get(url, function(data){
           if(data.status == 1){
             $('#ajax-pop h1').text(data.msg);
             refresh(1000);
           }else{
             $('#ajax-pop h1').text(data.msg);
           }
         });
      });


     //打印单个标签

      $(".printsingle").click(function(){
        $('#download-pop .content').html('<div class="image"><img src="__IMG__/hourglass.gif" /></div><h1 class="mt50">正在获取标签中...</h1>');
          $('#download-pop').modal('setting', 'closable', false).modal('show');
          var url = $(this).data('link');
          //window.location.href = url;
          $.get(url, function(data){
           if(data.status == 1){
             $('#download-pop .content').html('<h3>获取标签成功，请下载：<a class="ui blue button" target="_blank" href="'+data.filelink+'"><i class="download icon"></i> 下载</a></h3>');
           }else{
             $('#download-pop .content').html('<h3><i class="ban icon"></i> 邮件号不存在，可能已过期太久！</h3>');
           }
         });
      });
     
    //打印选中标签

     
      $("#printany").click(function(){
          var checkornot = '';
          $(".orderid").each(function(){
          if($(this).prop("checked")){
              checkornot = 'yes';
              }
          });

          if(checkornot == 'yes') { //如果有选中
         
           $('#download-pop .content').html('<div class="image"><img src="__IMG__/hourglass.gif" /></div><h1 class="mt50">正在获取标签中...</h1>');
           $('#download-pop').modal('setting', 'closable', false).modal('show');

            $.post("{:url('Epack/printMuti')}", $('#orderform').serialize(),function(data){
               if(data.status == 1){
                  $('#download-pop .content').html('<h3>获取标签成功，请下载：<a class="ui blue button" target="_blank" href="'+data.filelink+'"><i class="download icon"></i> 下载</a></h3>');
                }else{
                    $('#download-pop .content').html('<h3><i class="ban icon"></i> 邮件号不存在，可能已过期太久！</h3>');
                }
            })

          }else{ // 无选中
            $('#download-pop .content').html('<div class="ui red header"><i class="remove large circle outline icon"></i> 请选择要打印的订单！</div>');
            $('#download-pop').modal('setting', 'closable', false).modal('show');

          }
      });

    //打印全部标签（一键打印）
     $("#printall").click(function(){
        $('#download-pop .content').html('<div class="image"><img src="__IMG__/hourglass.gif" /></div><h1 class="mt50">正在获取标签中...</h1>');
          $('#download-pop').modal('setting', 'closable', false).modal('show');
          $.get("{:url('Epack/printAll')}", function(data){
           if(data.status == 1){
             $('#download-pop .content').html('<h3>获取标签成功，请下载：<a class="ui blue button" target="_blank" href="'+data.filelink+'"><i class="download icon"></i> 下载</a></h3>');
           }else{
             $('#download-pop .content').html('<h3><i class="ban icon"></i> 邮件号不存在，可能已过期太久！</h3>');
           }
         });
      });

    </script>
{/block}


