{extend name="2columns-left" /}
{block name="sidebar"}
 {include file="order/sidebar" /}
{/block}

{block name="content"}
<div class="ui grid">
<div class="two column row">
  <div class="column">
     <div class="ui pointing below  blue basic label"><i class="unhide icon"></i>  订单（#{$order.ordernum}）详细信息</div>
  </div>
  <div class="column"><a class="ui button blue right floated" href="javascript:void(0)" id="btn-updateorderinfo"><i class="edit icon"></i>修改订单信息</a></div>
</div>  
</div>
<table class="ui celled table orderdetails">
  <tbody>
    <tr>
      <td><label>订单编号：</label> <span class="ui blue tag label">{$order.ordernum}</span></td>
      <td><label>下单日期：</label>{php} echo date("Y年m月d日 H:i:s", $order['ordertime']){/php} </td>
      <td><label>所在国家：</label><i class="{$order.country|uplow} flag"></i>{$order.country|getGjname}</td>
      <td><label>邮政编码：</label>{$order.zipcode}</td>
    </tr>
    <tr>
      <td><label>客户名称：</label>{$order.firstname} {$order.lastname}</td>
      <td><label>客户电话：</label>{$order.telephone}</td>
      <td><label>街道二：</label>{$order.address2}</td>
      <td><label>街道一：</label>{$order.address}</td>
    </tr>
    <tr>
      <td><label>客户邮箱：</label>{$order.email}</td>
      <td><label>订单状态：</label>{$order.orderstate|getstatuscnname}</td>
      <td><label>州/省份：</label>{$order.prov}</td>
      <td><label>城市：</label>{$order.city}</td>
    </tr>
    <tr>
      <td><label>订单金额：</label> 
          <span class="ui tag label">${$order.subtotal}</span>
          {gt name="$order.amount" value="0"}
          <span class="ui red tag label">实收：${$order.amount}</span>
          {/gt}
          {gt name="$order.discount" value="0"}
          <span class="ui teal tag label">优惠：${$order.discount}</span>
          {/gt}
      </td>
      <td><label>发货状态：</label>{$order.shipstate|getstatuscnname}</td>
      <td><label>快递处理号：</label>{$order.shippingnumber}</td>
      <td><label>快递跟踪号：</label>{$order.trackingnumber}</td>
    </tr>
    {neq name="$order.customer_note" value=''}
    <tr class="warning"><td colspan="4"><label>客户备注：</label>{$order.customer_note}</td></tr>
    {/neq}
     {neq name="$order.order_note" value=''}
    <tr class="positive"><td colspan="4"><label>订单备注：</label>{$order.order_note}</td></tr>
    {/neq}
  </tbody>
</table>
<div class="ui grid mt10">
<div class="two column row">
  <div class="column"><div class="ui pointing below  blue basic label"><i class="cart icon"></i> 订单产品</div></div>
  <div class="column"><a class="ui button blue right floated" id="btn-updateordercon" href="{:url('Order/updateOrdercon?id='.$order.id)}"><i class="edit icon"></i>修改订单产品</a></div>
</div>  
</div>
<table class="ui celled selectable  table orderdetails">
<thead>
 <tr>
 <th>序号</th><th>产品名称</th><th>SKU</th><th>数量</th>
 </tr> 
</thead>
  <tbody>
  {volist name="ordercon" id="vo"}
    <tr>
      <td>{$key+1}</td>
      <td>{$vo.cnname}</td>
      <td>{$vo.sku}</td>
      <td>{$vo.qty}</td>
    </tr>
  {/volist}
  </tbody>
</table>


<div class="ui grid mt20">
  <div class="column center aligned">
    <a class="ui button blue " id="btn-splitorder" href="javascript:void(0)"><i class="share alternate icon"></i>拆分订单</a>
    {neq name="$order.order_note" value=''}
    <a class="ui button blue " id="btn-addnote" href="javascript:void(0)"><i class="edit  icon"></i>编辑备注</a>
    {else/}
    <a class="ui button blue " id="btn-addnote" href="javascript:void(0)"><i class="add  icon"></i>添加备注</a>
    {/neq}
    <a class="ui button grey " href="javascript:history.go(-1)"><i class="reply icon"></i>返回列表</a>
  </div>
</div>

<!-- 修改订单信息 -->
<div class="ui modal fullscreen" id="orderinfo-pop">
 <i class="close icon"></i>
  <div class="header">修改#{$order.ordernum}订单信息</div>
  <div class="content">
  <form name="orderinfo" id="orderinfo" class="ui editform form" action="{:url('order/updateOrderinfo')}" method="post">
  <input type="hidden" name="id" value="{$order.id}">
  <table class="ui celled table orderdetails">
  <tbody>
    <tr class="field">
      <td><label>订单编号：</label> <span class="ui blue tag label">{$order.ordernum}</span></td>
      <td><label>下单日期：</label>{php} echo date("Y年m月d日 H:i:s", $order['ordertime']){/php} </td>
      <td><label>所在国家：</label><i class="{$order.country|uplow} flag"></i>{$order.country|getGjname}</td>
      <td><label>邮政编码：</label><div class="input-box"><input type="text" name="zipcode" class="require" value="{$order.zipcode}" /></div></td>
    </tr>
    <tr class="field">
      <td><label>客户名称：</label>
      <div class="input-box"><input type="text" name="firstname" class="require" value="{$order.firstname}" /></div>
      <div class="input-box"><input type="text" name="lastname" class="require" value="{$order.lastname}" /></div>
     </td>
      <td><label>客户电话：</label> <div class="input-box"><input type="text" name="telephone" class="require" value="{$order.telephone}" /></div></td>
      <td><label>街道二：</label><div class="input-box"><input type="text" name="address2" class="" value="{$order.address2}" /></div></td>
      <td><label>街道一：</label><div class="input-box"><input type="text" style="width:260px;" name="address" class="require" value="{$order.address}" /></div></td>
    </tr>
    <tr class="field">
      <td><label>客户邮箱：</label><div class="input-box"><input type="text" name="email" style="width:250px;" class="require" value="{$order.email}" /></div></td>
      <td><label>订单状态：</label>{$order.orderstate|getstatuscnname}</td>
      <td><label>州/省份：</label><div class="input-box"><input type="text" name="prov" class="require" value="{$order.prov}" /></div></td>
      <td><label>城市：</label><div class="input-box"><input type="text" name="city" class="require" value="{$order.city}" /></div></td>
    </tr>
    <tr class="field">
      <td><label>订单金额：</label> 
          <span class="ui tag label">${$order.subtotal}</span>
          {gt name="$order.amount" value="0"}
          <span class="ui red tag label">实收：${$order.amount}</span>
          {/gt}          
          {gt name="$order.discount" value="0"}
          <span class="ui teal tag label">优惠：${$order.discount}</span>
          {/gt}
      </td>
      <td><label>发货状态：</label>{$order.shipstate|getstatuscnname}</td>
      <td><label>快递处理号：</label>{$order.shippingnumber}</td>
      <td><label>快递跟踪号：</label>{$order.trackingnumber}</td>
    </tr>
  </tbody>
</table>
      </form>
  </div>
   <div class="actions">
    <div class="column centered row">
      <div class="ui cancel icon  button "><i class="cancel icon"></i> 取消</div>
      <div id="savebtn-orderinfo" class="ui   right labeled blue icon  button"><i class="checkmark icon"></i> 保存</div>
    </div>
  </div>
</div>
<!-- end修改订单信息-->


<!-- 拆分订单 -->
<div class="ui  modal" id="splitorder-pop">
<div class="ui  inverted dimmer">
    <div class="ui text loader">正在拆分中...</div>
</div>
  <i class="close icon"></i>
  <div class="header">拆分订单({$order.ordernum})</div>
  <div class="content">
  <form name="splitorder" id="splitorder" class="ui form" action="{:url('Ordercon/splitOrder')}" method="post">
  <table class="ui celled selectable  table orderdetails">
<thead>
 <tr>
 <th class="tdselect">选择</th><th>产品名称</th><th>SKU</th><th>数量</th>
 </tr> 
</thead>
  <tbody>
  {volist name="ordercon" id="vo"}
    <tr>
      <td class="tdselect">
        <div class="ui checkbox">
          <input type="checkbox"  name="id[]"  class="productid " value="{$vo.id}">
          <label></label>
        </div>
      </td>
      <td>{$vo.cnname}</td>
      <td>{$vo.sku}</td>
      <td>{$vo.qty}</td>
    </tr>
  {/volist}
  </tbody>
</table>
<input type="hidden" name="ordernum" value="{$order.ordernum}">
      </form>
  </div>
   <div class="actions">
    <div class="column centered row">
      <div class="ui cancel  icon  button "><i class="cancel icon"></i> 取消</div>
      <div id="neworder" class="ui blue  right labeled  icon  button"><i class="checkmark icon"></i> 保存为新订单</div>
    </div>
  </div>
</div>
<!-- end 拆分订单-->


<!-- 添加或编辑订单备注 -->
<div class="ui  modal" id="note-pop">
<div class="ui  inverted dimmer">
    <div class="ui text loader">更新中...</div>
</div>
  <i class="close icon"></i>
  <div class="header">订单备注</div>
  <div class="content">
  <form name="splitorder" id="splitorder" class="ui form" action="{:url('Order/orderNote')}" method="post">
    <div class="ui form">
  <div class="field">
    <textarea name="note" id="notetext">{$order.order_note}</textarea>
  </div>
</div>
   <input type="hidden" name="ordernum" id="ordernum" value="{$order.ordernum}">
  </form>
  </div>
   <div class="actions">
    <div class="column centered row">
      <div class="ui cancel  icon  button "><i class="cancel icon"></i> 取消</div>
      <div id="savenote" class="ui blue  right labeled  icon  button"><i class="checkmark icon"></i> 保存</div>
    </div>
  </div>
</div>
<!-- end 拆分订单-->

{/block}

{block name="script"}
<script type="text/javascript">
$(document).ready(function(){
 
//弹出订单信息
  $("#btn-updateorderinfo").click(function(){
    $('#orderinfo-pop').modal('show');
  });


//弹出拆分订单
  $("#btn-splitorder").click(function(){
    $('#splitorder-pop').modal('show');
  });   

//弹出订单备注
  $("#btn-addnote").click(function(){
    $('#note-pop').modal('show');
  });  

//返回上级POP

 $('.return').click(function(){
      $('#ordercon-pop').modal('show');
 });

})


//提交修改订单信息表单

  $("#savebtn-orderinfo").click(function(){
    $(".failtruetext").remove();
    var yes = 1;
    $("#orderinfo .require").each(function(){
      if($(this).val()==''){
        $(this).parent('.input-box').parent('td').addClass("negative");
        yes = 0;
      }
    })
  //数据通过 Ajax 提交
  if(yes == 1){
      $('#savebtn-orderinfo').addClass('disabled loading');
     // $("#orderinfo").submit();
      $.post("{:url('Order/updateOrderinfo')}",$("#orderinfo").serialize(),function(data){
         if(data.status == '1'){
            $('#orderinfo-pop .content').html('<p class="successtext"><i class="smile icon"></i>订单信息修改成功！</p>');
            $('#orderinfo-pop .actions').remove();
            $('#orderinfo-pop').removeClass('fullscreen');
             refresh(2000);
         }else{
           $('#orderinfo-pop .content').append('<div class="ui negative failtruetext message"><i class="close icon"></i><div class="header">订单信息修改失败，请重试！</div></div>');
            $('#savebtn-orderinfo').removeClass('disabled loading');
         }
      });
    }

  })
// end 提交修改订单信息表单


//提交 处理拆分订单

$("#neworder").click(function(){
  //检查是否有选择
  var checkornot;
   $(".productid").each(function(){
        if($(this).prop("checked")){
          checkornot = 'yes';
         }
       });
  if(checkornot == 'yes'){
  $('#splitorder-pop .dimmer').addClass('active');
  $.post("{:url('Ordercon/splitOrder')}",$('#splitorder').serialize(),function(data){
     if(data.status == '1'){
        $('#splitorder-pop .dimmer .loader').html('<i class="smile icon"></i> 拆分成功,正在跳转...');
        refresh(1000); 
     }
  });
}else{
  $('.tdselect').addClass('error negative');
}
});

//end 处理拆分订单

$("#savenote").click(function(){
  $('#note-pop .dimmer').addClass('active');
  var notetext = $("#notetext").val();
  var order = $("#ordernum").val();
  $.post("{:url('Order/orderNote')}",{note:notetext, ordernum:order},function(data){
     if(data.status == '1'){
        $('#note-pop .dimmer .loader').html('<i class="smile icon"></i> 保存成功,正在跳转...');
        refresh(500); 
     }
  });
});

//清除错误框
$('.require').focus(function(){
     $(this).parent('.input-box').parent('td').removeClass("negative");

});

</script>
{/block}


